<form
  class="h-full flex flex-col px-2.5 overflow-auto"
  [formGroup]="reactiveForm"
>
  <!-- Title-container -->
  <div class="flex py-2.5 px-0 justify-center">
    <h1
      class="cx-font-size w-fit capitalize border-b border-[var(--app-theme)]"
    >
      create a new product variant
    </h1>
  </div>

  <!-- Contents -->
  <div class="flex gap-2.5 max-[945px]:flex-col">
    <!-- Left column -->
    <ng-container *ngIf="colourExists">
      <div class="flex-1">
        <!-- Upload div -->
        <div
          class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]"
        >
          <div class="py-1.5">
            <h6 class="cx-font-size capitalize">
              media <span class="text-red-500">*</span>
            </h6>
          </div>

          <div class="flex flex-wrap items-center">
            <div class="relative" *ngFor="let image of files">
              <button
                type="button"
                (click)="remove(image)"
                class="x-btn m-0.5 outline-none border-0 text-center cursor-pointer bg-transparent"
              >
                <img
                  [src]="toString(image)"
                  alt="logo"
                  class="m-0 object-cover min-h-[4rem] min-w-[4rem] sm:min-h-[9.375rem] sm:min-w-[9.375rem] max-h-[12.5rem] max-w-[12.5rem]"
                />
              </button>
            </div>

            <div class="upload">
              <input
                type="file"
                multiple
                class="hidden"
                (change)="onFileSelected($event)"
                accept="image/gif, image/jpeg, image/png"
                #fileUpload
              />

              <button
                class="flex outline-none border-0 text-center cursor-pointer bg-transparent"
                type="button"
                (click)="fileUpload.click()"
              >
                <p *ngIf="files.length < 1">No file uploaded yet.</p>
                <mat-icon>attach_file</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Right column -->
    <div class="flex-1">
      <!-- Visible -->
      <ng-container *ngIf="colourExists">
        <div
          class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]"
        >
          <div class="mb-2">
            <h6 class="cx-font-size">
              Visibility (include in store front)
              <span class="text-red-500">*</span>
            </h6>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="visible"
            >
              <mat-radio-button [checked]="true" value="true"
                >true</mat-radio-button
              >
              <mat-radio-button value="false">false</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </ng-container>

      <!-- Colour, Size and Inventory -->
      <div
        class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]"
      >
        <!-- Colour -->
        <div class="mb-2">
          <h6 class="cx-font-size capitalize">
            colour <span class="text-red-500">*</span>
          </h6>

          <div class="grid grid-cols-2 gap-2.5">
            <input
              (keyup)="oninputChange($event)"
              type="text"
              placeholder="colour"
              formControlName="colour"
              class="p-2.5 w-full flex-1 inline rounded-md border border-solid border-[var(--border-outline)]"
            />

            <select
              (change)="onselectColour($event)"
              class="cursor-pointer rounded-md border border-solid border-[var(--border-outline)]"
            >
              <option value="" disabled selected>change?</option>
              <option *ngFor="let colour of data.colours">{{ colour }}</option>
            </select>
          </div>
        </div>

        <!-- Size and Inventory -->
        <div class="pt-2.5">
          <app-size-inventory
            (eventEmitter)="sizeInv($event)"
          ></app-size-inventory>
        </div>
      </div>
    </div>
  </div>

  <!-- Button ctn -->
  <div class="p-2.5 px-1.5 flex justify-between">
    <button
      mat-stroked-button
      color="warn"
      [style.border-color]="'red'"
      type="button"
      (click)="cancel()"
    >
      cancel
    </button>
    <button
      type="submit"
      class="text-white font-bold py-2 px-4 rounded bg-[var(--app-theme)]"
      [disabled]="
        !reactiveForm.valid ||
        (colourExists && files.length === 0) ||
        rows.length === 0
      "
      [style]="{
        'background-color':
          !reactiveForm.valid ||
          (colourExists && files.length === 0) ||
          rows.length === 0
            ? 'var(--app-theme)'
            : 'var(--app-theme-hover)'
      }"
      [asyncButton]="create()"
    >
      create
    </button>
  </div>
</form>
