@if (data.product && data.categoryId) {
  <!-- Title -->
  <div class="w-full flex py-2.5 px-0 gap-2.5">
    <button
      type="button"
      (click)="returnToProductComponent()"
      class="md:px-2.5 border-[var(--border-outline)] border"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
        />
      </svg>
    </button>
    <h1 class="cx-font-size capitalize">Editing {{ data.product.name }}</h1>
  </div>

  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-2.5">
    <!-- Product column -->
    <form class="w-full flex flex-col px-0" [formGroup]="form">
      <!-- Contents -->
      @if (currentProduct$ | async; as currentDetails) {
        <div class="flex-1">
          <div
            class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]"
          >
            <div class="cx-font-size mb-1.5">
              <h2 class="capitalize">general</h2>
            </div>

            <!-- Form-Group (product name)-->
            <div class="mb-2">
              <h3 class="capitalize">
                <span class="text-red-500">*</span> name
              </h3>
              <input
                formControlName="name"
                type="text"
                class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)] capitalize"
              />
            </div>

            <!-- Form-Group (sku, price)-->
            <div class="mb-2 grid gap-3 grid-cols-1 lg:grid-cols-2">
              <!-- SKU -->
              <div>
                <h3 class="uppercase">
                  <span class="text-red-500">*</span> sku
                </h3>
                <input
                  formControlName="sku"
                  type="text"
                  class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)] capitalize"
                />
              </div>

              <!-- PRICE -->
              <div>
                <h3 class="capitalize">
                  <span class="text-red-500">*</span> price
                </h3>
                <input
                  formControlName="price"
                  type="number"
                  class="p-2.5 flex-1 w-full rounded-sm border border-solid border-[var(--border-outline)] capitalize"
                />
              </div>
            </div>

            <!-- category -->
            <div class="mb-2">
              <div class="flex gap-1">
                <h4 class="cx-font-size">
                  <span class="text-red-500">*</span>
                  Category
                  <span class="text-xs text-blue-300">{{ categoryName }}</span>
                </h4>

                <button type="button" (click)="toggle = !toggle">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    @if (toggle) {
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                      />
                    } @else {
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5 12h14"
                      />
                    }
                  </svg>
                </button>
              </div>

              @if (!toggle) {
                <div class="w-full p-2 flex gap-2 flex-col bg-[#eff2f5]">
                  <app-hierarchy
                    [categories]="(hierarchy$ | async) || []"
                    (emitter)="categoryClicked($event)"
                  ></app-hierarchy>
                </div>
              }
            </div>

            <!-- weight -->
            <div class="mb-2">
              <h4 class="cx-font-size">
                <span class="text-red-500">* </span>
                Weight
                <span class="text-xs">{{ data.product.weight_type }}</span>
              </h4>
              <input
                placeholder="kg"
                type="number"
                formControlName="weight"
                class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)]"
              />
            </div>

            <!-- Form-Group description -->
            <div class="flex flex-col gap-2">
              <h3 class="capitalize">
                <span class="text-red-500">*</span> description
              </h3>
              <ckeditor
                [editor]="config"
                formControlName="desc"
                data="<p>Hello, world!</p>"
              ></ckeditor>
            </div>
          </div>

          <div
            class="mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)] bg-[var(--white)]"
          >
            <div class="mb-1.5">
              <h2 class="cx-font-size capitalize">
                <span class="text-red-500">*</span> media
              </h2>
            </div>
            <div class="flex flex-row flex-wrap items-center gap-2.5">
              @for (image of currentDetails.urls; track image; let i = $index) {
                <div
                  [style]="{ 'flex-grow': i == 0 ? '1' : '0' }"
                  class="basis-1/4 aspect-h-1 aspect-w-1 overflow-hidden rounded-md bg-gray-200 lg:aspect-none"
                >
                  <img
                    [src]="image"
                    alt="image"
                    class="h-full w-full rounded-md object-cover object-center lg:h-full lg:w-full"
                  />
                </div>
              }
            </div>
          </div>
        </div>
      }

      <!-- btn ctn -->
      <div class="flex justify-between py-2.5 px-1.5">
        <button
          (click)="returnToProductComponent()"
          type="button"
          class="text-white font-bold py-2 px-4 rounded border bg-red-500"
        >
          cancel
        </button>
        <button
          type="submit"
          [disabled]="!form.valid"
          [asyncButton]="onSubmit()"
          [style]="{
            'background-color': form.valid
              ? 'var(--app-theme-hover)'
              : 'var(--app-theme)'
          }"
          class="text-white font-bold py-2 px-4 rounded bg-[var(--app-theme)]"
        >
          update
        </button>
      </div>
    </form>

    <!-- Product Variants column -->
    <div
      class="h-fit max-h-2/4 mb-2.5 p-2.5 overflow-auto rounded-md border border-solid border-[var(--active)] bg-[var(--white)]"
    >
      <div class="mb-1.5 flex gap-1.5">
        <h2 class="cx-font-size capitalize">variants</h2>
        <button type="button" (click)="openCreateVariantComponent()">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-[var(--app-theme)]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
      </div>

      @if (productVariants$ | async; as variant) {
        @switch (variant.state) {
          @case ('LOADING') {
            <div class="h-full p-20 flex justify-center items-center">
              <h1 class="cx-font-size capitalize text-[var(--app-theme-hover)]">
                loading product variants...
              </h1>
            </div>
          }
          @case ('ERROR') {
            <div class="p-10 text-3xl text-red-500">
              Error {{ variant.error }}
            </div>
          }
          @case ('LOADED') {
            @if (variant.data) {
              <app-dynamic-table
                [tHead]="thead"
                [data]="variant.data"
                (eventEmitter)="onDeleteOrUpdateVariant($event)"
              ></app-dynamic-table>
            }
          }
        }
      }
    </div>
  </div>
} @else {
  <div class="lg-scr p-10 text-3xl text-red-500">
    <button
      (click)="returnToProductComponent()"
      type="button"
      class="md:px-2.5 border-[var(--border-outline)] border"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
        />
      </svg>
    </button>
    Error retrieving product details
  </div>
}
